@*@model IEnumerable<LeDangQuang_CaiDatLayout.Areas.Admin.Data.TacGia>*@
@model PagedList.IPagedList<LeDangQuang_CaiDatLayout.Areas.Admin.Data.TacGia>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" type="text/css" rel="stylesheet"/>
@{
    ViewBag.Title = "QLTacGia";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@section header{
    Quản lý tác giả
    }
<div class="themmoi">
    <a href="@Url.Action("ThemTacGia","Home")" style="display: block; color: black;">Thêm mới</i></a>
</div>
<table border="1" cellpadding="5px" style="margin-left: 10px;">
    <tr>
        <th>Tên tác giả</th>
        <th>Ảnh</th>
        <th>Ngày sinh</th>
        <th>Quê quán</th>
        <th class="ts">Tiểu sử</th>
        <th>Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @{ 
                    string ImagePath = "~/Areas/Assets/images/" + item.Anh;
                }
                <img src="@Url.Content(ImagePath)" width="100" height="150" />
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuSu)
            </td>
            <td>
                <a href="@Url.Action("SuaTacGia","Home",new { id=item.MaTG })" style="margin-left: 5px;">Sửa</a>
                <a href="@Url.Action("XoaTacGia","Home",new { id=item.MaTG })" style="margin-left: 10px">Xóa<i class="ti-trash"></i></a>
            </td>
        </tr>
    }

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page =>Url.Action("QLTacGia",new { page}))

